<div id="banks">
<p class="page-header" style="font-style: italic;">Tìm thấy <%= totalRecord %> kết quả: Thứ tự sắp xệp từ cao xuống thấp, dựa trên lãi suất của ngân hàng</p>
<hr>	
<div class="row page-header" id="header" style=" background-color: #41B649;color: white;">
		<div class="col-md-4 text-center">
			<h5>Ngân hàng</h5>
		</div>
		<div class="col-md-2 text-center">
			<h5>Lãi suất</h5>
		</div>
		<div class="col-md-3 text-center">
			<h5>Tiền bạn nhận được</h5>
		</div>
		<div class="col-md-3 text-center">
			<h5>Tìm hiểu thêm</h5>
		</div>
	</div>
	<% data.forEach((rowData, index) => { %>
	<div class="row result ">
		<div class="col-12 col-md-4" style="text-align:center;" id="sp">
			<img style="background-color: white; margin: 5px 5px auto; padding: 10px;" width="200px" height="70px" src="<%= rowData.logo %>" alt="<%= rowData.name %> - <%= rowData.savingPackage %>" class="">
			<p style="margin: auto; padding: 10px;"><%= rowData.savingPackage %></p>
		</div>
		<div class="col-6 ol-md-2 text-center" id="ls">
			<p>Lãi suất</p>
			<h5><%= rowData.annualInterestRate[period] %> %</h5>
		</div>
		<div class="col-6 col-md-3 text-center" id="tl">
			<p>Tiền lãi bạn nhận được</p>
			<h5><%= rowData.air %> đ</h5>
		</div>
		<div class="col-12 col-md-3 text-center" id="btn">
			<a href="<%= rowData.webOfBank %>" target="_blank" type="button" class="btn btn-success btn-lg">Tới ngân hàng</a>
		</div>
	</div>
	<% }) %>

	<div class="row h-100 justify-content-center align-items-center" style="text-align:center;">
		<p class="text-center;" style="margin:auto; font-style: italic;width: 100%; text-align: center; border-bottom: 1px solid #000; line-height: 0.1em;margin: 10px 0 20px; opacity:0.3"><span style="background:#fff; padding:0 10px;">Lưu ý: Thông tin chỉ mang tính chất tham khảo</span></p>
		<div class="" style="margin:auto;"></div>
		<div class="btn-group" role="group">
			<% if(currentPage > 1 && totalPage > 1) { %>
				<button type="button" class="btn btn-default pageUserAsset" value="<%=(currentPage-1)%>">Prev</button>
	
			<%} %>
			<% for(var i = 1; i <= totalPage ;i++ ) {
				if(totalPage === 1 && currentPage === 1) {
					break;
				} else if(i === currentPage) { %>
					<button type="button" class="btn btn-default pageUserAsset active disabled" value="<%= i %>"><%=i %></button>
			
			   <% } else {%>
					<button type="button" class="btn btn-default pageUserAsset" value="<%= i %>"><%=i %></button>
			
			 <%   }
			}%>
	
			<% if(currentPage < totalPage && totalPage > 1) { %>
				<button type="button" class="btn btn-default pageUserAsset" value="<%=(currentPage+1)%>">Next</button>
			<% }%>
			
	   </div>
	</div>

	<div class="row" style="margin-top:50px;">
		<p style="font-weight: bold; font-size: 16px;" >Đặc biệt: Gửi tiết kiệm qua Finhay với lãi suất không kỳ hạn hấp dẫn!</p>
	</div>
	<!-- /.finhay -->
	<div class="row result" style="margin-bottom: 100px; margin-top: 10px;">
		<div class="col-12 col-md-3" style="text-align:center;">
			<img style="background-color: white; margin: 10px 10px auto; padding: 10px;" width="170px" height="50px" src="https://finhay.com.vn/wp-content/themes/finhayfaq/extra/images/logo.png" alt="FINHAY - Tiền gửi tiết kiệm thông thường" class="">
			<p>
				<p><i class="fas fa-check"></i> Gửi tiền không kì hạn</p>
				<p><i class="fas fa-check"></i> Rút tiền bất kì lúc nào</p>
				<p><i class="fas fa-check"></i> Trả lãi hàng tháng &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</p>
		</div>
		<div class="col-6 col-md-3 text-center">
			<p>Lãi suất lên đến</p>
			<h5>7.4%</h5>
		</div>
		<div class="col-6 col-md-3 text-center">
			<p>Tiền lãi bạn nhận được</p>
			<% var m = Math.round((money * 7.4)*period/(12*100)).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
			<h5><%= m %> đ</h5>
		</div>
		<div class="col-12 col-md-3 text-center">
			<a href="https://finhay.com.vn/tiet-kiem/?utm_source=tool&utm_medium=sosanhlai&utm_campaign=sosanhlai" target="_blank" type="button" class="btn btn-success btn-lg">Tiết kiệm cùng Finhay</a>
		</div>
	</div>
</div>