<div id="banks">
<p class="page-header" style="font-style: italic;">Tìm thấy <%= totalRecord %> kết quả: Thứ tự sắp xệp từ cao xuống thấp, dựa trên lãi suất của ngân hàng</p>
	<div class="row page-header" style="background-color:#41B649">
		<div class="col-md-4 text-center">
			<h4>Ngân hàng</h4>
		</div>
		<div class="col-md-3 text-center">
			<h4>Lãi suất</h4>
		</div>
		<div class="col-md-3 text-center">
			<h4>Tiền bạn nhận được</h4>
		</div>
		<div class="col-md-2 text-center">
			<h4>Tìm hiểu thêm</h4>
		</div>
	</div>
	<% data.forEach((rowData, index) => { %>
	<div class="row result ">
		<div class="col-md-4" style="text-align:center;">
			<img style="background-color: white; margin: 5px 5px auto; padding: 10px;" width="200px" height="70px" src="<%= rowData.logo %>" alt="<%= rowData.name %> - <%= rowData.savingPackage %>" class="">
			<p style="margin: auto; padding: 10px;"><%= rowData.savingPackage %></p>
		</div>
		<div class="col-md-3 text-center">
			<p>Lãi suất</p>
			<h4><%= rowData.annualInterestRate[period] %> %</h4>
		</div>
		<div class="col-md-3 text-center">
			<p>Tiền lãi bạn nhận được</p>
			<h4><%= rowData.air %> đ</h4>
		</div>
		<div class="col-md-2 text-center">
			<a href="<%= rowData.webOfBank %>" target="_blank" type="button" class="btn btn-success btn-lg">Tới ngân hàng</a>
		</div>
	</div>
	<% }) %>

	<div class="row h-100 justify-content-center align-items-center">
		<p class="text-center;" style="font-style: italic;width: 100%; text-align: center; border-bottom: 1px solid #000; line-height: 0.1em;margin: 10px 0 20px; opacity:0.3"><span style="background:#fff; padding:0 10px;">Lưu ý: Thông tin chỉ mang tính chất tham khảo</span></p>
		<div class="col-md-2 col-md-offset-3"></div>
		<div class="btn-group" role="group">
			<% if(currentPage > 1 && totalPage > 1) { %>
				<button type="button" class="btn btn-default pageUserAsset" value="<%=(currentPage-1)%>">Prev</button>
	
			<%} %>
			<% for(var i = 1; i <= totalPage ;i++ ) {
				if(totalPage === 1 && currentPage === 1) {
					break;
				} else if(i === currentPage) { %>
					<button type="button" class="btn btn-default pageUserAsset active disabled" value="<%= i %>"><%=i %></button>
			
			   <% } else {%>
					<button type="button" class="btn btn-default pageUserAsset" value="<%= i %>"><%=i %></button>
			
			 <%   }
			}%>
	
			<% if(currentPage < totalPage && totalPage > 1) { %>
				<button type="button" class="btn btn-default pageUserAsset" value="<%=(currentPage+1)%>">Next</button>
			<% }%>
			
	   </div>
	</div>
</div>