<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
 
        <title>Finhay-So sanh lai suat</title>
 
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Ignite UI Required Combined CSS Files -->
		<link href="https://cdn-na.infragistics.com/igniteui/2019.2/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
		<link href="https://cdn-na.infragistics.com/igniteui/2019.2/latest/css/structure/infragistics.css" rel="stylesheet" />
        <!-- Custom CSS -->
        <!--<link href="CSS/mycss.css" rel="stylesheet"> -->
        <style type="text/css">
		    body {
			    padding-top: 70px; 
			}
			.result {
				margin-bottom: 35px;
			    -moz-box-shadow: 3px 3px #666;
			    -webkit-box-shadow: 3px 3px #666;
			    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
			.result {
				display: flex;
				align-items: center;
				justify-content: center;
			}
            /* Style buttons */
			.buttonload {
			  border: none; /* Remove borders */
			  color: #008000; /* White text */
			  padding: 12px 16px; /* Some padding */
			  font-size: 50px /* Set a font size */
			}
			#info {
				font-size: 16px; 
				line-height: 1.5em;
				text-align: justify;
			}
			#info h3 {
				font-weight: bold;
			}
			.info div > p {
				margin-bottom: 20px;
			}

		</style>
 
    </head>
 
    <body>
		    <!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
		        <!-- Nav -->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		        </div>
		        <!-- Nav collapse -->
		        <div class="collapse navbar-collapse" id="menu">
		            <ul class="nav navbar-nav">
		                <li>
		                    <a href="#">Giới Thiệu</a>
		                </li>
		                <li>
		                    <a href="#">Tin Tức</a>
		                </li>
		                <li>
		                    <a href="#">Liên Hệ</a>
		                </li>
		            </ul>
		 
		            <div class="navbar-right">
		                <button class="btn btn-danger navbar-btn">Register</button>
		                <button class="btn btn-info navbar-btn">Login</button>
		            </div>
		        </div>
		        <!-- /.navbar-collapse -->
		    </div>
		    <!-- /.container -->
		</nav>
		<!-- /Navigation -->
		<div class="container">
			<div class="row">
			    <div class="col-lg-12">
			        <h3 class="page-header">So sánh lãi suất gửi tiết kiệm của các ngân hàng | Tiền gửi có kỳ hạn | Lĩnh lãi cuối kỳ</h3>
			    </div>
			</div>
			<div class="row jumbotron" style="background-color:#41B649;">
				<div class="col-md-4">
					<div class="form-group">
			            <p style="font-weight: bold;">Bạn muốn gửi bao nhiêu tiền?</p>
			            <input type="text-center" class="form-control" id="money" value="50,000,000 đ" placeholder="Số tiền">
			        </div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
			            <p style="font-weight: bold;">Kì hạn</p>
			            <select class="form-control" id="period">
                                <option>1 tháng</option>
                                <option>3 tháng</option>
                                <option>6 tháng</option>
                                <option>9 tháng</option>
                                <option>12 tháng</option>
                                <option>18 tháng</option>
                                <option>24 tháng</option>
                            </select>
			        </div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
			            <p style="font-weight: bold;">Ngân hàng</p>
			            <div id="bank"></div>
			        </div>
				</div>
				<div class="col-md-2">
					<br>
					<br>
					<button type="button" class="btn btn-success btn-lg" id="searching">Tìm kiếm</button>
				</div>
			</div>
			<!-- loading image -->
			<p class="buttonload text-center" id="btn" style="display: none">
				<i class="fa fa-spinner fa-spin"></i> Đang tải dữ liệu
			</p>
            <div class="row" id="displayResult">

				<!-- display the result from API -->
                <div id="rs">
					<div id="banks">
						<p class="page-header" style="font-style: italic;"></p>
						<div class="row page-header" style=" background-color: #41B649;">
							<div class="col-md-4 text-center">
								<h4>Ngân hàng</h4>
							</div>
							<div class="col-md-3 text-center">
								<h4>Lãi suất</h4>
							</div>
							<div class="col-md-3 text-center">
								<h4>Tiền bạn nhận được</h4>
							</div>
							<div class="col-md-2 text-center">
								<h4>Tìm hiểu thêm</h4>
							</div>
						</div>
						<% data.forEach((rowData, index) => { %>
						<div class="row result ">
							<div class="col-md-4" style="text-align:center;">
								<img style="background-color: white; margin: 5px 5px auto;" width="200px" height="50px" src="<%= rowData.logo %>" alt="<%= rowData.name %> - <%= rowData.savingPackage %>" class="">
								<p style="margin:auto; padding: 20px;"><%= rowData.savingPackage %></p>
							</div>
							<div class="col-md-3 text-center">
								<p>Lãi suất</p>
								<h4><%= rowData.annualInterestRate[period] %> %</h4>
							</div>
							<div class="col-md-3 text-center">
								<p>Tiền lãi bạn nhận được</p>
								<h4><%= rowData.air %> đ</h4>
							</div>
							<div class="col-md-2 text-center">
								<a href="<%= rowData.webOfBank %>" target="_blank" type="button" class="btn btn-success btn-lg">Tới ngân hàng</a>
							</div>
						</div>
						<% }) %>
					</div>
				</div>

				<!-- display package saving of Finhay-->
				<div class="row" id="finhay" style="margin-top:50px;">
					<p style="font-style: italic;">Lưu ý: Thông tin chỉ mang tính chất tham khảo</p>
					<p style="font-weight: bold; font-size: 18px;" >Đặc biệt: Gửi tiết kiệm qua Finhay với lãi suất không kỳ hạn hấp dẫn!</p>
				</div>
				<!-- /.finhay -->
				<div class="row result" style="margin-bottom: 100px; margin-top: 10px;">
					<div class="col-md-3" style="text-align:center;">
						<img style="background-color: white; margin: 5px 5px auto; padding: 10px;" width="200px" height="50px" src="https://finhay.com.vn/wp-content/themes/finhayfaq/extra/images/logo.png" alt="FINHAY - Tiền gửi tiết kiệm thông thường" class="">
						<p style="margin: auto;">
							<h5>Gửi tiền không kì hạn</h5>
							<h5>Rút tiền bất kì lúc nào</h5>
							<h5>Trả lãi hàng tháng &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
						</p>
					</div>
					<div class="col-md-3 text-center">
						<p>Lãi suất</p>
						<h4>7.4%</h4>
					</div>
					<div class="col-md-3 text-center">
						<p>Tiền lãi bạn nhận được</p>
						<% var m = Math.round((money * 7.4)*period/(12*100)).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
			        	<h4><%= m %> đ</h4>
					</div>
					<div class="col-md-3 text-center">
						<a href="https://finhay.com.vn/tiet-kiem/" target="_blank" type="button" class="btn btn-success btn-lg">Tiết kiệm cùng Finhay</a>
					</div>
				</div>

				<!-- start display information -->
				<div class="row" id="info">
					<div class="row">
						<h3 class="text-center" >Những điều bạn cần lưu ý trước khi gửi tiết kiệm tại ngân hàng</h3>
						<p style="margin-bottom: 30px;">Từ trước tới nay, việc gửi tiền tiết kiệm vào các ngân hàng luôn được mọi người tin tưởng và coi là hình thức tích lũy an toàn. 
							Đặc biệt, với sự phát triển của công nghệ thông tin như hiện nay, việc tiếp cận với các ngân hàng ngàng càng dễ dàng hơn. 
							Tuy nhiên, càng có nhiều lựa chọn gửi tiết kiệm, đồng nghĩa với việc đưa ra quyết định càng khó khăn. 
							Hãy tìm hiểu kỹ dựa trên những yếu tố dưới đây nhé.
						</p>
					</div>
					<div class="row">
						<div class="col-md-6 info">
							<div>
								<h3>1. Gửi tiền tiết kiệm là gì?</h3>
								<p>Gửi tiết kiệm là một hình thức vừa tích lũy, vừa đầu tư. Bạn gửi tiền vào ngân hàng trong một khoảng thời gian nhất định, 
									hết thời hạn này, ngân hàng sẽ trả lại cho bạn khoản tiền gốc và khoản tiền tăng thêm (tiền lãi).
									Tiền lãi được tính dựa trên lãi suất của ngân hàng theo kỳ hạn gửi tiền tương ứng mà bạn chọn. 
								</p>
							</div>
							<div>
								<h3>2. Cách tính lãi suất tiết kiệm</h3>
								<p>
									Lãi suất tiết kiệm ngân hàng thường được hiểu là lãi suất %/năm. Công thức tính:<br>
									<p style="font-weight: bold;">Số tiền lãi = Số tiền gửi x Lãi suất (%/năm) x Số ngày thực gửi / 365</p>
									Ví dụ bạn gửi số tiền 20 triệu với lãi suất 7.4%/năm cho kỳ hạn 6 tháng từ ngày 1/1/2020 đến 1/7/2020, 
									số tiền lãi nhận được là:
									<p class="text-center">Số tiền lãi = 20.000.000 x 7.4% x 181 / 365 = 733.917</p>

								</p>
							</div>
							<div>
								<h3>3. Ngày đáo hạn và tất toán sổ tiết kiệm là gì?</h3>
								<p>
									<li style="list-style-type: disc; font-weight: bold;">Ngày đáo hạn</li>
									Ngày đáo hạn (hay ngày đến hạn) được quy định dựa trên ngày mà bạn mở tài khoản tiết kiệm. 
									Ví dụ nếu bạn chọn gửi tiền vào ngân hàng trong 1 năm, ngày cuối cùng của năm sẽ là ngày đáo hạn. 
									Vào ngày này, bạn có thể thực hiện tất toán (hoặc đóng tài khoản tiết kiệm) 
									để nhận lại toàn bộ cả tiền gốc và lãi được sinh ra.
								</p>
								<p>
									<li style="list-style-type: disc; font-weight: bold;">Tất toán sổ tiết kiệm</li>
									Chuyện gì sẽ xảy ra khi khoản tiền gửi tại ngân hàng hết hạn?<br>
									Thông thường, ngân hàng sẽ liên hệ và đưa cho bạn hai lựa chọn:
									<ul>
										<li style="list-style-type: circle">
											Tự động tái tục cả gốc và lãi: Toàn bộ số tiền gốc và lãi tiết kiệm sẽ tiếp tục được gửi cho ngân hàng. 
										Lãi suất áp dụng là lãi suất niêm yết của ngân hàng tại thời điểm tái tục.
										</li>
										<li style="list-style-type: circle">
											Tất toán: Tiền gốc và tiền lãi tiết kiệm phát sinh sẽ được gửi về tài khoản ngân hàng của bạn. 
										Nếu muốn tiếp tục gửi tiết kiệm, bạn sẽ phải lựa chọn lại từ đầu (gói tiết kiệm nào, thời hạn bao lâu,...) 
										</li>
									</ul>
								</p>
							</div>
							<div>
								<h3>4. Các hình thức gửi tiết kiệm thường được lựa chọn</h3>
								<p>
									<p style="font-weight: 700;">Có hai hình thức gửi tiết kiệm ngân hàng hiện nay:</p>
									<ul>
										<li>
											Gửi tiết kiệm không kỳ hạn: Đây là hình thức gửi tiết kiệm không cam kết về thời gian rút. 
										Tức là khi gửi tiền vào, bạn có thể rút ra lúc nào cũng được, nhưng nhược điểm của hình thức này là lãi suất thấp. 
										</li>
										<li>
											Gửi tiết kiệm có kỳ hạn: 
										Đây là hình thức gửi tiết kiệm có cam kết thời gian rút về với mức lãi suất cố định. 
										</li>
									</ul>
								</p>
								<p>
									<p style="font-weight: 700;">Thời hạn gửi tiết kiệm hiện nay thường được chia ra:</p>
									<ul>
										<li>Ngắn hạn (1-3 tháng)</li>
										<li>Trung hạn (4-12 tháng) </li>
										<li>Dài hạn (từ 1 năm trở lên)</li>
									</ul>
									<p>
										Thời hạn càng dài thì lãi suất càng cao. Nhưng điều đó cũng đồng nghĩa rằng, 
										nếu có chuyện cần phải sử dụng tiền, bạn sẽ mất lãi nếu rút ra giữa chừng, 
										hoặc chỉ được hưởng lãi suất không kỳ hạn - thường là rất thấp, chỉ khoảng 0.2% đến 3%.<br>
										(Kỳ hạn quá dài thì lãi suất sẽ linh động giảm dần để hạn chế rủi ro cho ngân hàng)

									</p>
								</p>
							</div>
							<div>
								<h3>5. Khi gửi tiết kiệm tại ngân hàng, bạn cần cân nhắc điều gì?</h3>
								<p style="font-weight: 700;">5.1 Lãi suất gửi tiết kiệm của ngân hàng</p>
								<p>
									Khi gửi tiền tiết kiệm, lãi suất ngân hàng nào cao nhất luôn là yếu tố đầu tiên mà khách hàng quan tâm. 
									Thông thường theo thói quen, khách hàng thường tìm đến những ngân hàng lớn như Vietcombank, Vietinbank, BIDV,...
								</p>
								<p>
									Tuy nhiên nếu bạn cũng làm vậy, có lẽ bạn đã bỏ qua rất nhiều lựa chọn hấp dẫn khác - các ngân hàng cổ phần, các ngân hàng nhỏ. 
									Bởi để cạnh tranh khách hàng với những ngân hàng lớn, các ngân hàng này thường đưa ra các gói tiết kiệm với lãi suất cao để thu hút khách.
								</p>
								
							</div>
						</div>
						<div class="col-md-6">
							<div>
								<p style="font-weight: 700;">5.2 Kỳ hạn gửi tiết kiệm</p>
								<p>
									Như đã nhắc đến ở bên trên, kỳ hạn tiết kiệm là cơ sở để ngân hàng trả lãi. Kỳ hạn tiết kiệm càng dài thì lãi suất càng cao. 
									Tuy nhiên, bạn nên cân nhắc kế hoạch chi tiêu của mình và gia đình trong tương lai,
									hạn chế tối đa trường hợp đang gửi tiết kiệm thì phải rút tiền gấp và mất toàn bộ lãi.
								</p>
								<p>
									Bạn có thể tham khảo lãi suất của một số ngân hàng dưới đây:
									<ul style="list-style-type: none;">
										<li><a target="_blank" href="https://portal.vietcombank.com.vn/LS/Pages/lai-suat.aspx?devicechannel=default">Lãi suất gửi tiết kiệm tại ngân hàng Vietcombank</a></li>
										<li><a target="_blank" href="https://www.vietinbank.vn/web/home/vn/lai-suat">Lãi suất gửi tiết kiệm tại ngân hàng Vietinbank</a></li>
										<li><a target="_blank" href="https://www.techcombank.com.vn/cong-cu-tien-ich/lai-suat">Lãi suất gửi tiết kiệm tại ngân hàng Techcombank</a></li>
										<li><a target="_blank" href="https://www.agribank.com.vn/vn/lai-suat">Lãi suất gửi tiết kiệm tại ngân hàng Agribank</a></li>
										<li><a target="_blank" href="https://www.shb.com.vn/category/lien-ket-nhanh/lai-suat-tiet-kiem/">Lãi suất gửi tiết kiệm tại ngân hàng SHB</a></li>
										<li><a target="_blank" href="https://tpb.vn/wps/portal/vni/financial-toolkit/lai-suat/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8zizd0NTYwMDQz9LPz9DAwcw7wCvYz8jY29fQ31w1EV-Ae7Gho4uvk4Bjq7Oxn5WpjpR5Go39PZwNHP2M0s1BTICDAhTr8BDuBoQKL9mAqi8Bsfrh-FagWWEEBXgOFFQpYU5IaGhkYYZHo6KioCAC12K9Y!/#tab-1">Lãi suất gửi tiết kiệm tại ngân hàng TPbank</a></li>
										<li><a target="_blank" href="https://www.vpbank.com.vn/kh-ca-nhan/gui-tiet-kiem">Lãi suất gửi tiết kiệm tại ngân hàng VPbank</a></li>
										<li><a target="_blank" href="https://www.bidv.com.vn/vn/tra-cuu-lai-suat">Lãi suất gửi tiết kiệm tại ngân hàng BIDV</a></li>
										<li><a target="_blank" href="https://www.pgbank.com.vn/Desktop.aspx/Lai-suat-huy-dong/Lai-suat-huydong/">Lãi suất gửi tiết kiệm tại ngân hàng PGbank</a></li>
										<li><a target="_blank" href="https://www.sacombank.com.vn/canhan/Pages/lai-suat.aspx">Lãi suất gửi tiết kiệm tại ngân hàng Sacombank</a></li>
										<li><a target="_blank" href="https://www.mbbank.com.vn/26/28/29/san-pham-all/tien-gui-co-ky-han">Lãi suất gửi tiết kiệm tại ngân hàng MB bank</a></li>
									</ul>
								</p>
							</div>
							<div>
								<h3>6. Sức mạnh của lãi kép</h3>
								<p>
									Bạn có thể hiểu về lãi kép (hay lãi suất kép) như sau:<br>
									Khi bạn gửi tiết kiệm và có tiền lãi phát sinh, tiền lãi này sẽ được dồn vào tiền vốn ban đầu, 
									tiếp tục mang tất cả (tổng tiền cả gốc và lãi) đi tái tiết kiệm (hay tái đầu tư) để lấy về lãi có giá trị cao hơn ở chu kỳ sau. 
									Bạn gửi tiền càng lâu thì sức mạnh của lãi kép càng lớn.
								</p>
							</div>
							<div>
								<h3>7. Xu hướng gửi tiết kiệm hiện nay: Ứng dụng công nghệ tài chính</h3>
								<p>
									Chỉ vài năm trước đây thôi, nếu muốn gửi tiết kiệm, bạn sẽ phải đích thân ra ngoài ngân hàng, 
									xếp hàng tại các quầy tiết kiệm để được tư vấn và mở sổ tiết kiệm, thì giờ đây mọi chuyện đã khác.
								</p>
								<p style="font-weight: 700;">7.1 Sử dụng ứng dụng mobile banking</p>
								<p>
									Hầu hết các ngân hàng hiện nay đều đã có ứng dụng di động của riêng mình. 
									Ví dụ như app TPbank, app VPbank, app MBbank,... 
									Chỉ cần thực hiện vài thao tác trên các ứng dụng này thì đã có thể mở tài khoản tiết kiệm và gửi tiền nhanh chóng mà không cần phải bước ra khỏi nhà. 
									Việc tái tiết kiệm, rút tiền hay nhận lãi cũng có thể làm luôn trên đây.
								</p>
								<p style="font-weight: 700;">7.2. Tận dụng ưu thế của công nghệ tài chính (Fintech)</p>
								<p>
									Trong vài năm trở lại đây, sự xuất hiện của các ứng dụng công nghệ tài chính đã mang lại nhiều lựa chọn và cơ hội cho khách hàng cá nhân. 
									Và Finhay có thể được coi là một trong những doanh nghiệp nổi bật trong lĩnh vực này.<br>
									Cụ thể, khi đăng ký tài khoản Finhay, bạn đã có thể:
								</p>
								<ul>
									<li style="list-style-type: disc; "><span style="font-weight: bold;">Đầu tư:</span> Tiếp cận tới các quỹ tài chính ở Việt Nam với số vốn chỉ vỏn vẹn 50.000đ. Finhay là cầu nối trung gian giữa bạn và các quỹ mở (Mutual Fund) tại Việt Nam. Ví dụ như:
										<ul>
											<li>
												Quỹ BVBF – Được quản lý bởi công ty TNHH Quản lý Quỹ Bảo Việt (100% vốn của Tập đoàn Bảo Việt)
											</li>
											<li>
												Quỹ BVPF –  Được quản lý bởi công ty TNHH Quản lý Quỹ Bảo Việt (100% vốn của Tập đoàn Bảo Việt)
											</li>
											<li>
												Quỹ TCBF –  Được quản lý bởi công ty công ty TNHH Quản lý quỹ Kỹ thương – TechcomCapital -Techcom Capital (TCC)
											</li>
											<li>
												Quỹ TCFF – Được quản lý bởi công ty TNHH Quản lý quỹ Kỹ thương – TechcomCapital -Techcom Capital (TCC)
											</li>
										</ul>
										Thay vì phải trực tiếp bỏ số vốn lớn và tự mình đầu tư, 
										các quỹ tài chính kết nối với Finhay sẽ giúp bạn làm điều đó (hay còn gọi là đầu tư uỷ thác).<br>
										Tìm hiểu thêm về <a href="https://finhay.com.vn/dau-tu/">Đầu tư tại Finhay.</a>
									</li>
									<li>
										<span style="font-weight: bold;">Tiết kiệm:</span> Tiết kiệm ở Finhay có gì giống và khác với gửi tiết kiệm thông thường? 
										Giống ở chỗ: Bạn đều gửi tiền vào các ngân hàng (cụ thể là các ngân hàng liên kết với Finhay như Ngân hàng Bản Việt, 
										Ngân hàng Eximbank,...) - an toàn và yên tâm. Khác biệt ở chỗ: Bạn nhận <span style="font-weight: bold;">lãi suất cao</span>  (lên tới 7.4%/năm) 
										nhưng có thể <span style="font-weight: bold;">tiền bất kỳ lúc nào</span> . Tức là dù gửi tiền dài hạn hay ngắn hạn, bạn đều nhận được mức lãi suất lên tới 7.4%/năm và 
										có thể rút tiền bất kỳ lúc nào mà không bị mất lãi.<br>
										Tìm hiểu thêm về <a href="https://finhay.com.vn/tiet-kiem/">Tiết kiệm tại Finhay. </a>
									</li>
									<li>
										<span style="font-weight: bold;">Trải nghiệm Finhay miễn phí tại:</span><br> 
										<a href="https://finhay.page.link/AppFINHAY">https://finhay.page.link/AppFINHAY</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row text-center" style="margin: 30px;">
						<p>
							Hãy cân nhắc thật kỹ về lãi suất, ngân hàng, hình thức tiết kiệm cũng như quyền lợi được hưởng của mỗi cách tiết kiệm nhé.
						</p>
					</div>
				</div>
				<!-- end display information -->
				
			</div>
		
		</div>
 
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
 
        <!-- Bootstrap Core JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
        <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
		<!-- Ignite UI Required Combined JavaScript Files -->
		<script src="https://cdn-na.infragistics.com/igniteui/2019.2/latest/js/infragistics.core.js"></script>
		<script src="https://cdn-na.infragistics.com/igniteui/2019.2/latest/js/infragistics.lob.js"></script>
        <script>
            $(document).ready(function() {
				//the value is used to save data from imput
				var moneyFromForm = 0,periodFromForm = 0, data, nameOfBanks = [];
				var colors = [
					{id: 'BANKS', Name: 'All'},
					{id: 'SHBVN', Name: 'Ngân hàng Shinhan Việt Nam'},
					{id: 'TECHCOMBANK', Name: 'Ngân hàng Kỹ Thương'},
					{id: 'UOB', Name: 'Ngân hàng UOB Việt Nam'},
					{id: 'VIETABANK', Name: 'Ngân hàng Việt Á'},
					{id: 'VIETBANK', Name: 'Ngân hàng Việt Nam Thương Tín'},
					{id: 'VPBANK', Name: 'Ngân hàng Việt Nam Thịnh Vượng'},
					{id: 'WOORIBANK', Name: 'Ngân hàng Woori Việt Nam'},
					{id: 'SCBVLBANK', Name: 'Ngân hàng Standard Chartered Việt Nam'},
					{id: 'SACOMBANK', Name: 'Ngân hàng Sài Gòn Thương Tín'},
					{id: 'MSB', Name: 'Ngân hàng Hàng Hải'},
					{id: 'HSBC', Name: 'Ngân hàng HSBC Việt Nam'},
					{id: 'HDBANK', Name: 'Ngân hàng Phát triển TPHồ Chí Minh'},
					{id: 'COOPBANK', Name: 'Ngân hàng Hợp tác xã Việt Nam'},
					{id: 'CIMB', Name: 'Ngân hàng CIMB Việt Nam'},
					{id: 'ACB', Name: 'Ngân hàng Á Châu'},
					{id: 'BIDV', Name: 'Ngân hàng Đầu tư và Phát triển Việt Nam'},
					{id: 'EXIMBANK', Name: 'Ngân hàng Xuất Nhập Khẩu'},
					{id: 'PGBANK', Name: 'Ngân hàng Xăng dầu Petrolimex'},
					{id: 'VIETCOMBANK', Name: 'Ngân hàng Ngoại Thương Việt Nam'},
					{id: 'SCB', Name: 'Ngân hàng Sài Gòn'},
					{id: 'ABBANK', Name: 'Ngân hàng An Bình'},
					{id: 'AGRIBANK', Name: 'Ngân hàng NN&PT Nông thôn Việt Nam'},
					{id: 'BAOVIETBANK', Name: 'Ngân hàng Bảo Việt'},
					{id: 'CB', Name: 'Ngân hàng Xây dựng'},
					{id: 'IVB', Name: 'Ngân hàng Indovina'},
					{id: 'KIENLONGBANK', Name: 'Ngân hàng Kiên Long'},
					{id: 'NAMABANK', Name: 'Ngân hàng Nam Á'},
					{id: 'OCB', Name: 'Ngân hàng Phương Đông'},
					{id: 'OCEANBANK', Name: 'Ngân hàng Đại Dương'},
					{id: 'PBVN', Name: 'Ngân hàng Public Bank Việt Nam'},
					{id: 'PVCOMBANK', Name: 'Ngân hàng Đại Chúng Việt Nam'},
					{id: 'SAIGONBANK', Name: 'Ngân hàng Sài Gòn Công Thương'},
					{id: 'SHB', Name: 'Ngân hàng Sài Gòn – Hà Nội'},
					{id: 'VIETINBANK', Name: 'Ngân hàng Công thương Việt Nam'},
					{id: 'VRB', Name: 'Ngân hàng Việt – Nga'},
					{id: 'HLBVN', Name: 'Ngân hàng Hong Leong Việt Nam'}
        		];

				$(function () {
					$("#bank").igCombo({
						width: 300,
						dataSource: colors,
						textKey: "Name",
						valueKey: "id",
						multiSelection: {
							enabled: true,
							showCheckboxes: true
						},
						dropDownOrientation: "bottom"
					});
					

				});

				//check if user click on input form
				$('#money').click(function(){
					var money = $(this).val().toString().replace(/\D/g,'');
					$(this).val(money);
				});

				//check if user enter a value into form
				$('#money').keypress(function(evt){
					var dataOfForm =String.fromCharCode(evt.which);
					if(!(/[0-9]/.test(dataOfForm))) {
						evt.preventDefault();
					}
				});
	
				//check if user out of form
				$('#money').blur(function(){
					var money = $(this).val().toString().replace(/\D/g,'');
					if(money){
						$("#money").val(money.replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " đ");
					}
				});

                $("#searching").click(function(e){
                    //send data to server
                    data = {
                                money: $("#money").val().replace(/\D/g,''),
								period: $("#period").val(),
								banks: $('#bank').igCombo('value')
                            }
					console.log($('#bank').igCombo('value'))
					//check money user enter into form, if user have not entered yet =>  return
					if(!data.money) {
						alert('Bạn cần nhập số tiền!');
						return;
					}
					//check choosing bank
					if($('#bank').igCombo('value').length === 0){
						alert('Bạn chưa chọn ngân hàng!');
						return;
					}
					//set money vnd
					$("#money").val(data.money.replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " đ");
					data.money = parseInt(data.money);

					if(data.money === moneyFromForm && data.period === periodFromForm && nameOfBanks.length === data.banks.length) {
						return false;
					} else {
						moneyFromForm = data.money;
						periodFromForm = data.period;
						nameOfBanks = data.banks;
						//remove the result if user click more one time
						$("#banks").remove();
						$("#info").remove();
						$('.buttonload').attr("style", "display:block");

						$.ajax({
							url: window.location.pathname,
							method: 'GET',
							dataType: 'html',
							data: data,
							error: function (response) {
								alert("Có lỗi xảy ra: " + response.message);
							},
							success: function (response) {
							if(response) {
								$('.buttonload').attr("style", "display:none");
								$('#rs').html(response);
							}
								
							}
						})

					}
						e.preventDefault();
					}); 
				 //event when user click pagination button
				 $('body').on('click', '.pageUserAsset', function(e) {
					data.page = $(this).attr("value");
					console.log(data);
					//send data to server
					$.ajax({
						url: window.location.pathname,
						method: 'GET',
						dataType: 'html',
						data: data,
						error: function (response) {
							alert("Có lỗi xảy ra: " + response.message);
						},
						success: function (response) {
							if(response) {
								$('#rs').html(response);
							}
						}
					})
					e.preventDefault();
					
				});
        
            });
        </script>
    </body>
</html>